<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:title" content="맛집찾기">
  <meta property="og:description" content="맛집찾기">
  <!--<meta property="og:image" content="images/og_selectshop.png">-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>

  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.2.0/mustache.min.js"></script>
 <!-- <script src="basic.js"></script>-->
  <title>맛집 찾기</title>
</head>

<body>
    {{totalCnt}}건 <br>
   전체페이지 : {{ page }} <br>
   마지막페이지 여부 {{next}} <br>
    <table class="table table-hover">
        <tr>
            <th>제목</th>
            <th>주소</th>
            <th>도로명</th>
            <th>위도</th>
            <th>경도</th>
        </tr>
        {{#foodList}}
            <tr>
                <td><a href="{{link}}" target="_blank">{{title}}</a></td>
                <td>{{address}}</td>
                <td>{{roadAddress}}</td>
                <td>{{mapy}}</td>
                <td>{{mapx}}</td>
            </tr>
        {{/foodList}}

    <tr>
        <th>keyword</th>
        <th>횟수</th>
    </tr>
    {{#foodListWithCnt}}
        <tr>
            <td>{{food}}</td>
            <td>{{cnt}}</td>
        </tr>
    {{/foodListWithCnt}}
    </table>


<div>
<a href="/">뒤로</a>
</div>
</body>
</html>